# Build outputs
bin/
obj/

# User- and IDE-specific settings
.vs/
.vscode/
**/*.user
**/*.suo
**/*.swp

# Logs and diagnostics
*.log
logs/
TestResults/

# Package management
*.nupkg
*.snupkg
packages/
.nuget/

# OS artifacts
.DS_Store
Thumbs.db

# Docker
**/data/
**/tmp/

# Others
artifacts/
.merlin
*.pid